@charset "UTF-8";

.all_contents_wrapper { /* 모든요소의 부모요소 */
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 1000px;
	height: 760px;
	background-color: #567954;
	margin: 5px auto;
	border-radius: 10px;
	overflow: auto;
}
/* ======================스크롤바 생성========================================================================== */
 /* 부모 요소 의 커스텀 스크롤 의 가로 크기 조정 */
.all_contents_wrapper::-webkit-scrollbar {    width: 15px;    }

/* 부모 요소 의 스크롤 버튼 제거 */
.all_contents_wrapper::-webkit-scrollbar-button {    display: none;    }

/* 부모 요소 의 스크롤 하위 배경 조정 */
.all_contents_wrapper::-webkit-scrollbar-track {	background-color: #adadad; border-radius: 10px;    }

/* 부모 요소 의 실질적 스크롤 바 조정 */
.all_contents_wrapper::-webkit-scrollbar-thumb {	background-color: #464646; border-radius: 10px;    }

/* 부모 요소 의 실질적 스크롤 바 가 호버링 되어 있을 때 를 조정 */
.all_contents_wrapper::-webkit-scrollbar-thumb:hover {	background-color: #0c0c0c;	}
/* ======================스크롤바 종료========================================================================== */

.all_contents_wrapper .shopping_contents_wrapper {/* all_contents_wrapper라는 부모요소의  shopping_contents_wrapper를 조정 */
	display: flex; /* 디스플레이 지정하여 align-items등을 사용할준비 */
	justify-content: center; /* 내용의 가로정렬 */
	width: 960px; /* 가로지정 */
	height: 200px; /* 세로지정 */
	background-color: #ffffff;
	margin: 10px auto;
	border-radius: 10px;
}

.all_contents_wrapper .shopping_contents_wrapper .photo_area { /* all_contents_wrapper라는 부모요소의  shopping_contents_wrapper의 photo_area(사진)을 조정 */
	display: flex; /* 디스플레이 지정하여 align-items등을 사용할준비 */
	flex-direction: row; /* 내용의 정렬을 가로 시작하도록 */
	justify-content: center; /* 가로정렬 시킴 */
	align-items:center; /* 세로 중앙정렬 */
	width: 160px; /* 사이즈조정 */
	height: 180px; /* 사이즈조정 */
	margin: auto;
	border-radius: 10px;
	background: gray;
}

.all_contents_wrapper .shopping_contents_wrapper .object_explanation_area { /* all_contents_wrapper라는 부모요소의  shopping_contents_wrapper의 object_explanation_area를 조정 */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	width: 765px; /* 사이즈조정 */
	height: 180px; /* 사이즈조정 */
	margin: auto;
	border-radius: 10px;
	background: gray;
}

.all_contents_wrapper .payment_area_wrapper { /* all_contents_wrapper안 == payment_area_wrapper조정 */
	display: flex; /* 디스플레이 지정하여 align-items등을 사용할준비 */
	justify-content: center; /* 내용의 가로정렬 */
	flex-wrap: wrap;
	width: 960px; /* 사이즈조정 */
	height: 700px; /* 사이즈조정 */
	background-color: #ffffff;
	margin: 10px auto;
	border-radius: 10px;
}

.all_contents_wrapper .payment_area_wrapper .specification_font_area { /* all_contents_wrapper안 == payment_area_wrapper안 == specification_font_area조정 */
	display: flex; /* 디스플레이 지정하여 align-items등을 사용할준비 */
	justify-content: center; /* 내용의 가로정렬 */
	background-color:#d2d2d2;
	width: 945px; /* 사이즈조정 */
	height: 70px; /* 사이즈조정 */
	margin: auto;/* 중앙정렬 */
	border-radius: 10px;
	font-size: 60px;
	font-family: "바탕체";/* 폰트변경 */
}

.all_contents_wrapper .payment_area_wrapper .specification_contents_area {
	display: flex;
	justify-content: center;
	align-items:center;
	flex-wrap: wrap;
	width: 945px; /* 사이즈조정 */
	height: 590px; /* 사이즈조정 */
	background-color:#d2d2d2;
	margin: auto;/* 중앙정렬 */
	border-radius: 10px;
}

.all_contents_wrapper .payment_area_wrapper .specification_contents_area .specification_explanation_area {
	display: flex;
	justify-content: center;
	align-items:center;
	width: 925px; /* 사이즈조정 */
	height: 460px; /* 사이즈조정 */
	background-color:#ffffff;
	margin: auto;/* 중앙정렬 */
	font-family: "바탕체";/* 폰트변경 */
	border-radius: 10px;
}

.all_contents_wrapper .payment_area_wrapper .specification_button_area .button_area {
	display: flex;
	justify-content: center;
	align-items:center;
	width: 300px; /* 사이즈조정 */
	height: 90px; /* 사이즈조정 */
	font-size: 40px;
	background-color:#a8ffa3;
	margin: auto;/* 중앙정렬 */
	font-family: "바탕체";/* 폰트변경 */
	border-radius: 10px;
	border: none;
}

.all_contents_wrapper .payment_area_wrapper .specification_button_area .button_area:hover {
	display: flex;
	justify-content: center;
	align-items:center;
	width: 300px; /* 사이즈조정 */
	height: 90px; /* 사이즈조정 */
	font-size: 40px;
	background-color:#288428;
	color:#ffffff;
	margin: auto;/* 중앙정렬 */
	font-family: "바탕체";/* 폰트변경 */
	border-radius: 10px;
	border: none;
	cursor: pointer;
}










